# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
terraform/nul

# Node
node_modules/
dist/

# Env / secrets
.env
.env.local

# OS
.DS_Store
Thumbs.db
